@import "tailwindcss";

@font-face {
    font-family: "Querencia";
    src: local("Querencia"), url(./assets/font/querencia/Querencia\ Regular.ttf), format("truetype");
}

@layer base {
  .font-dark-outline-2 {
    -webkit-text-stroke: 2px rgba(199, 188, 188,0.2)!important;
  }
  .font-light-outline-2 {
    -webkit-text-stroke: 2px rgba(0, 0, 0,0.1) !important;
  }
}

@layer utilities {
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
  }

@theme {
  --color-primary : "#9768d1"
}